# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your vercel environment or in
# a local .env file in order to run this app.
#
# ------------------------------------------------------------------------------

# NEXT_PUBLIC_FATHOM_ID=

# Optional, for Algolia search
# NEXT_PUBLIC_ALGOLIA_APP_ID= , // 在这里查看 https://dashboard.algolia.com/account/api-keys/
# NEXT_PUBLIC_ALGOLIA_ADMIN_APP_KEY= , // 管理后台的KEY，不要暴露在代码中，在这里查看 https://dashboard.algolia.com/account/api-keys/
# NEXT_PUBLIC_ALGOLIA_SEARCH_ONLY_APP_KEY= , // 客户端搜索用的KEY
# NEXT_PUBLIC_ALGOLIA_INDEX= , // 在Algolia中创建一个index用作数据库

# Optional, for Artalk comment

